@using Entities.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Writer Blogs</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Title</th>
        <th>Create Date</th>
        <th>Category</th>
        <th>Status</th>
    </tr>
</table>