@using Entities.Concrete
@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~Views/Shared/AdminLayout.cshtml";
}

<h1>Categories</h1>
<br />
<table class="table table-bordered">  
    <tr>
        <th>#</th>
        <th>Category Name</th>
        <th>Make Active</th>
        <th>Make Passive</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <td>@item.Name</td>
            <td><a href="#" class="btn btn-danger">Make Passive</a></td>
            <td><a href="#" class="btn btn-warning">Make Active</a></td>
            <td><a href="#" class="btn btn-success">Edit</a></td>

        </tr>
    }
</table>