@using Entities.Concrete
@model List<Blog>

<div class="tech-btm">
    <h3>Last Posts</h3>
    @foreach (var item in Model)
    {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="/Blog/ReadAll/@item.ID">
                    <img src="@item.Image" class="card-img-top img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="/Blog/ReadAll/@item.ID">
                        @{
                            var content = item.Content;
                            if (content.Length > 50)
                            {
                                var truncatedContent = content.Substring(0, Math.Min(50, content.Length));
                                var lastSpaceIndex = truncatedContent.LastIndexOf(" ");
                                if (lastSpaceIndex != -1)
                                {
                                    truncatedContent = truncatedContent.Substring(0, lastSpaceIndex);
                                }
                                <text>@truncatedContent... </text>
                            }
                            else
                            {
                                <text>@content</text>
                            }
                        }
                    </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))
                    </span>
                </div>
            </div>
        </div>
    }
</div>
