@{
    ViewData["Title"] = "Index";
    Layout = "~Views/Shared/AdminLayout.cshtml";
}

<h1>Writer Ajax Operations</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Writers</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Get Writer</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Add Writer</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Delete Writer</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Update Writer</button>
<br />
<div id="writerlist"></div>
<div id="writerget"></div>
<div>
    <input type="text" id="writerId" placeholder="Write, Writer ID" class="form-control" />
</div>

<div>
    <input type="text" class="form-control" id="writerId" placeholder="Writer ID" />
    <br />
    <input type="text" class="form-control" id="writername" placeholder="Writer Name" />
    <br />
</div>

<div>
    <input type="text" class="form-control" id="txtid" placeholder="ID of the writer to be deleted " />
</div>
<br />

<input type="text" class="form-control" id="txtid1" placeholder="ID of the writer to be updated " />
<input type="text" class="form-control" id="txtwritername1" placeholder="Name of the writer to be updated " />

@section scripts {
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<table class=table table-bordered> <tr><th> Writer ID </th> <th> Writer Name </th> </tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td> <td>${value.Name}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            })
        })
        $("#btngetbyid").click(x => {
            let id = $("writerId").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetWriterById/",
                data: { writerId: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);

                    let getvalue = `<table class=table table-bordered> <tr> <th>Writer ID</th> <th>Writer Name</th></tr> <tr><td>${w.Id}</td><td>${w.Name}</td></tr></table>`;
                    $("writerget").html(getvalue);
                }
            })

        })
        $("#btnaddwriter").click(function () {
            let writer = {
                Id: $("#txtwriterId").val(),
                Name: $("#txtwritername").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Adding writer is successfull");
                }
            })
        })
        $("#btndeletewriter").click(x => {
            let id = $("#txtid").val();

            $.ajax({
                url: "/Admin/Writer/DeleteWriter/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    alert("The writer to be deleted successfull");
                }
            });
        });
        $("btnupdatewriter").click(function () {
            let writer = {
                Id: $("#txtid1").val(),
                Name: $("#txtwritername1").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (func) {
                    alert("Updated Writer is successfull");
                }
            });
        });
    </script>
}